<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.com">
<head>
  <meta charset="utf-8">
  <title>Bench社区</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
  <link rel="stylesheet" href="../res/layui/css/layui.css">
  <link rel="stylesheet" href="../res/css/global.css">
</head>
<body>

<div class="fly-header layui-bg-black" id="header">
<script src="html/0101util/vue.min.js"></script>
<script src="html/0101util/axios.min.js"></script>
  <div class="layui-container">
    <a class="fly-logo" href="index">
      <img src="../image/bench.png"  style="width: 50px">
      <span style="color: white;font-size: 1.3em">Bench社区</span>
    </a>
    <ul class="layui-nav fly-nav layui-hide-xs">
      <li class="layui-nav-item layui-this">
        <a href="/"><i class="iconfont icon-jiaoliu"></i>交流</a>
      </li>
      <li class="layui-nav-item">
        <a href="case/case.html"><i class="iconfont icon-iconmingxinganli"></i>案例</a>
      </li>
      <li class="layui-nav-item">
        <a href="http://www.layui.com/" target="_blank"><i class="iconfont icon-ui"></i>框架</a>
      </li>
    </ul>
    
    <ul class="layui-nav fly-nav-user" id="app">
      
      <!-- 未登入的状态 -->
      <li class="layui-nav-item" th:if="${session.loginUser==null && user==null}">
        <a class="iconfont icon-touxiang layui-hide-xs" href="user/login.html"></a>
      </li>
      <li class="layui-nav-item" th:if="${session.loginUser==null && user==null}" >
        <a href="login">登入</a>
      </li>
      <li class="layui-nav-item" th:if="${session.loginUser==null && user==null}" >
        <a href="reg">注册</a>
      </li>
      <li class="layui-nav-item layui-hide-xs" th:if="${session.loginUser==null && user==null}">
        <a href="/app/qq/" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" title="QQ登入" class="iconfont icon-qq"></a>
      </li>
      <li class="layui-nav-item layui-hide-xs" th:if="${session.loginUser==null && user==null}">
        <a href="/app/weibo/" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" title="微博登入" class="iconfont icon-weibo"></a>
      </li>
   
      <li class="layui-nav-item" th:if="${session.loginUser!=null}">
        <a class="fly-nav-avatar" href="javascript:;">
          <cite class="layui-hide-xs" th:text="${session.loginUser.account}">贤心</cite>
          <i th:if="${session.loginUser.certificainfo}!=null" class="iconfont icon-renzheng layui-hide-xs" title="认证信息：layui 作者"></i>
          <i class="layui-badge fly-badge-vip layui-hide-xs" th:if="${session.loginUser.uviplevel!=null}" th:text="${session.loginUser.uviplevel}">VIP3</i>
          <img th:src="${session.loginUser.uhead}">
        </a>
        <dl class="layui-nav-child" id="add">
          <dd><a th:href="userset"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
          <dd><a th:href="usermessage"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息
          <span v-if="this.count!=0" style="font-size: 1.2em;color: red;">{{this.count}}</span></a></dd>
          <dd><a th:href="userhome"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>
          <hr style="margin: 5px 0;">
          <dd><a href="logout" style="text-align: center;">退出</a></dd>
        </dl>
        <script type="text/javascript">
var vue=new Vue({
	   el:"#add",
	   data:{
		  count:""
	   },
	   created:function(){
		   this.query();
	   },
	   methods:{
		   query(){
			   axios({
					url:"queryCount",
					params:{}
				}).then(res=>{
					this.count=res.data;
					console.info(this.count);
				}); 
		   },
	   }
});
</script>
        
      </li>
      
    </ul>
 
  </div>
</div>

<div class="fly-panel fly-column">
  <div class="layui-container">
     <ul class="layui-clear">
      <li class="layui-hide-xs layui-this"><a href="/">首页</a></li> 
      <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li> 
      <!-- 用户登入后显示 -->
      <li th:if="${session.loginUser!=null}" class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="userindex">我发表的贴</a></li> 
      <li th:if="${session.loginUser!=null}" class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="userindex#collection">我收藏的贴</a></li> 
    </ul> 
    
    <div class="fly-column-right layui-hide-xs"> 
      <span class="fly-search"><i class="layui-icon"></i></span> 
      <a href="toadd" class="layui-btn">发表新帖</a> 
    </div> 
    <div class="layui-hide-sm layui-show-xs-block" style="margin-top: -10px; padding-bottom: 10px; text-align: center;"> 
      <a href="toadd" class="layui-btn">发表新帖</a> 
    </div> 
  </div>
</div>

<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md8">
      <div class="fly-panel">
        <div class="fly-panel-title fly-filter">
          <a>置顶</a>
          <a href="#signin" class="layui-hide-sm layui-show-xs-block fly-right" id="LAY_goSignin" style="color: #FF5722;">去签到</a>
        </div>
        
        
        
        <ul class="fly-list" th:each="l :${list}">
          <li>
            <a th:href="'toOther?account='+${l.user.account}" class="fly-avatar">
              <img th:src="${l.user.uhead}" alt="贤心">
            </a>
            <h2>
              <a class="layui-badge" th:if="${l.isproblem}==0">分享</a>
              <a class="layui-badge" th:if="${l.isproblem}==1">提问</a>
              <a th:href=" 'todetail?aid='+ ${l.aid}" th:text="${l.atitle}">基于 layui 的极简社区页面模版</a>
            </h2>
            <div class="fly-list-info">
              <a href="user/home.html" link>
                <cite th:text="${l.user.account}">贤心</cite>
                <i th:if="${l.user.certificainfo}!=null" class="iconfont icon-renzheng" title="认证信息：XXX"></i>
                <i class="layui-badge fly-badge-vip" th:if="${l.user.uviplevel}!=null" th:text="${l.user.uviplevel}">VIP3</i>
              </a>
              <span th:text="${l.TimeChange}">刚刚</span>
              
              <span  class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss" th:if="${l.money}!=null"></i><span th:text="${l.money}"> 60</span></span>
              <div style="display: inline-block;" th:if="${l.isproblem}==1">
              <span class="layui-badge fly-badge-accept layui-hide-xs" th:if="${l.solve}==1">已结</span>
              <span class="layui-badge fly-badge-accept layui-hide-xs" th:if="${l.solve}==0">未结</span>
              </div>
              <span class="fly-list-nums"> 
                <i class="iconfont icon-pinglun1" title="回答"></i><span th:text="${l.reply}"> 66</span>
              </span>
            </div>
            <div class="fly-list-badge">
              <!--
              <span class="layui-badge layui-bg-black">置顶</span>
              <span class="layui-badge layui-bg-red">精帖</span>
              -->
            </div>
          </li>
          
          
        </ul>
        
        
      </div>

      <div class="fly-panel" style="margin-bottom: 0;"  id="cate">
        
        <div class="fly-panel-title fly-filter">
          <a href="index" >综合</a>
          <span class="fly-mid"></span>
          <a href="indexpro">提问</a>
          <span class="fly-mid"></span>
          <a href="indexit" >技术</a>
          <span class="fly-mid"></span>
          <a href="indexlief">生活</a>
          <span class="fly-mid"></span>
          <a href="indexgame">游戏</a>
          <span class="fly-mid"></span>
          <a href="indexXW">时政</a>
          <span class="fly-mid"></span>
          <a href="indexOther" class="layui-this">其他</a>
          <span class="fly-mid"></span>
          <span class="fly-filter-right layui-hide-xs">
            <a href="" class="layui-this">按最新</a>
            <span class="fly-mid"></span>
            <a href="ByReply">按热议</a>
          </span>
        </div>

        <ul class="fly-list" th:each="l1:${list1}">          
          <li>
            <a th:href="'toother?account='+${l1.user.account}" class="fly-avatar">
              <img th:src="${l1.user.uhead}" alt="贤心">
            </a>
            <h2>
              <a class="layui-badge" th:if="${l1.isproblem}==0">分享</a>
              <a class="layui-badge" th:if="${l1.isproblem}==1">提问</a>
              <a th:href="'todetail?aid=' + ${l1.aid}" th:text="${l1.atitle}">基于 layui 的极简社区页面模版</a>
            </h2>
            <div class="fly-list-info">
              <a href="user/home.html" link>
                <cite th:text="${l1.user.account}">贤心</cite>
                <!--
                <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
                <i class="layui-badge fly-badge-vip">VIP3</i>
                -->
              </a>
              <span th:text="${l1.TimeChange}">刚刚</span>
              
                           <span  class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss" th:if="${l1.money}!=null"></i><span th:text="${l1.money}"> 60</span></span>
              <!--<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>-->
              <span class="fly-list-nums"> 
                <i class="iconfont icon-pinglun1" title="回答"></i> <span th:text="${l1.reply}"> 66</span>
              </span>
            </div>
            <div class="fly-list-badge">
              <!--<span class="layui-badge layui-bg-red">精帖</span>-->
            </div>
          </li>
         
        </ul>
        
        
        <div style="text-align: center">
          <div class="laypage-main">
            <a href="jie/index.html" class="laypage-next">更多求解</a>
          </div>
        </div>

      </div>
      <script type="text/javascript">
      var fl=new Vue({
    	 el:"#cate",
    	 data:{
    		 
    	 },
    	 created:function(){
    		 
    	 },
    	 methods:{
    		 
    		 
    		 
    	 }  
      });
      </script>
      
      
      
      
      
      
    </div>
    <div class="layui-col-md4">

       <div class="fly-panel">
        <h3 class="fly-panel-title">温馨通道</h3>
        <ul class="fly-panel-main fly-list-static">
          <li th:each="l4:${list4}">
            <a th:href="${l4.url}" target="_blank">[[${l4.content}]]</a>
          </li>
          
        </ul>
      </div>


       <div class="fly-panel fly-rank fly-rank-reply" id="LAY_replyRank">
        <h3 class="fly-panel-title">回贴榜</h3>
        <dl>
          <!--<i class="layui-icon fly-loading">&#xe63d;</i>-->
          <dd th:each="l2:${list2}">
            <a href="user/home.html">
              <img th:src="${l2.user.uhead}"><cite>[[${l2.user.account}]]</cite><i><span>[[${l2.cnt}]]</span>次评论</i>
            </a>
          </dd>
        </dl>
      </div>

      
       <dl class="fly-panel fly-list-one">
        <dt class="fly-panel-title">热议榜</dt>
        <dd th:each="l3:${list3}">
          <a th:href="'todetail?aid='+${l3.aid}" th:text="${l3.atitle}">基于 layui 的极简社区页面模版</a>
          <span><i class="iconfont icon-pinglun1"></i> [[${l3.reply}]]</span>
        </dd>
      </dl>

     <div class="fly-panel">
        <div class="fly-panel-main" th:if="${announ}!=null">
          <a th:href="${announ.url}" target="_blank"  >
          <img th:src="${announ.conent}" style="width: 350px;height:550px;">
          </a>
          <!-- <h2 ><a>广告位招租</a></h2> -->
        </div>
        <div class="fly-panel-main" th:if="${announ}==null">
          <a href="" target="_blank" class="fly-zanzhu" style="background-color: #393D49;">虚席以待</a>
        </div>
      </div>
      
      <div class="fly-panel fly-link">
        <h3 class="fly-panel-title">友情链接</h3>
        <dl class="fly-panel-main">
          <dd><a href="http://www.layui.com/" target="_blank">layui</a><dd>
          <dd><a href="http://layim.layui.com/" target="_blank">WebIM</a><dd>
          <dd><a href="http://layer.layui.com/" target="_blank">layer</a><dd>
          <dd><a href="http://www.layui.com/laydate/" target="_blank">layDate</a><dd>
          <dd><a href="mailto:xianxin@layui-inc.com?subject=%E7%94%B3%E8%AF%B7Fly%E7%A4%BE%E5%8C%BA%E5%8F%8B%E9%93%BE" class="fly-link">申请友链</a><dd>
        </dl>
      </div>

    </div>
  </div>
</div>
<div id="footer">
<div class="fly-footer">
  <p><a href="http://fly.layui.com/" target="_blank">Fly社区</a> 2017 &copy; <a href="http://www.layui.com/" target="_blank">layui.com 出品</a></p>
  <p>
    <a href="http://fly.layui.com/jie/3147/" target="_blank">付费计划</a>
    <a href="http://www.layui.com/template/fly/" target="_blank">获取Fly社区模版</a>
    <a href="http://fly.layui.com/jie/2461/" target="_blank">微信公众号</a>
  </p>
</div>
<script src="../res/layui/layui.js"></script>
<script>
layui.cache.page = '';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '../res/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '../res/mods/' //这里实际使用时，建议改成绝对路径
}).extend({
  fly: 'index'
}).use('fly');
</script>
</div>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_30088308'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/c.php%3Fid%3D30088308' type='text/javascript'%3E%3C/script%3E"));</script>

</body>
</html>