# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\项目文件\S3pjct\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
